.Deletar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    padding: 20vh 10vw;
    display: flex;
    flex-direction: column;
    gap: 10px;

    >div {
      display: flex;
      align-items: center;

      label {
        display: inline-block;
        width: 200px;
        text-align: right;
        padding-right: 10px;
        font: 400 24px Arial;
      }

      input {
        font: 400 24px Arial;
        padding: 2vh 2vw;
        border: 2px solid #000;
        outline: none;
        border-radius: 12px;
      }
    }
  }
  button {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    color: red;
    text-shadow: 0px 0px 100px 0px #000;
    width: 12vw;
    height: 9vh;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }

  button:hover {
    text-decoration: none;
    font-weight: 600;
    color: red;
    text-shadow: 0px 0px 100px 0px #000;
    background-color: #000;
    transition: 0.3s;
    color: #fff;
    border: none;
  }
}