.pagina-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main {
    padding: 20vh 10vw;

    img {
      width: 50vw;
      border-radius: 12px;
      border: solid 3px red;
    }
  }
}