.Nav {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: beige;

  .sessao {
    display: flex;
    gap: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      text-decoration: none;
      font-weight: 600;
      color: red;
      text-shadow: 0px 0px 100px 0px #000;
      width: 12vw;
      height: 7vh;
      border-radius: 12px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: solid 2px #000;
    }

    a:hover {

      text-decoration: none;
      font-weight: 600;
      color: red;
      text-shadow: 0px 0px 100px 0px #000;
      background-color: #000;
      transition: 0.3s;
      color: #fff;
    }
  }
}